* {
	font-family: 'Raleway';
	box-sizing: border-box;
}
body {
    color: #fff;
	font-family: 'Open Sans';
	height: 200vh;
	margin: 0;
	background-color: #f5f5f5;
}
/* header */
header {
	align-items: center;
	background-color: #000;
	display: flex;
	font-weight: 800;
	height: 69px;
	justify-content: space-between;
	padding: 10px 10vw;
	position: fixed;
	width: 100%;
	z-index: 1000;
}
/* header > nav */
.nav__item {
	color: #fff;
	font-size: 0.8em;
	font-weight: 400;
	margin: 0 10px;
	position: relative;
	text-decoration: none;
}
.nav__item:hover {
	color: #d4bb47;
	transition: color .1s linear;
}
.nav__item::after {
	background-color: #d4bb47;
	bottom: -3px;
	content: " ";
	height: 2px;
	left: 0;
	opacity: 0;
	position: absolute;
	transition: opacity .1s linear;
	width: 100%;
}
.nav__item:hover::after {
	opacity: 1;
}
.logo {
	display: inline-block;
	font-size: 32px;
}
/* intro */
.intro {
	background-color: #000;
	background-size: 100%;
	display: flex;
	height: 100vh;
	justify-content: space-between;
	padding: 100px 10vw;
	padding-top: 69px;
}
.intro-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 600px;
}
.intro-info__title {
	font-size: 4.5em;
	font-weight: 800;
}
.intro-info__subtitle {
	font-size: 2.5em;
	font-weight: 400;
}
.intro-info__discription {
	width: 80%;
}
.intro-info__download-button {
	border: 2px solid #fff;
	color: #fff;
	display: flex;
	justify-content: center;
	margin: 50px 0;
	padding: 10px;
	text-decoration: none;
	transition: background-color .2s linear;
	width: 175px;
}
.intro-info__download-button:hover {
	background-color: #ffffff80;
}
/* form */
.form {
	background-color: #fff;
	border-radius: 4px;
	color: black;
	display: table;
	margin-top: 125px;
	padding: 50px 30px;
	position: relative;
	width: 350px;
}
.form__input {
	border: none;
	border-bottom: 1px solid #d6d6d6;
	display: block;
	margin: 40px 0;
	padding: 5px 10px;
	width: 100%;
}
.form__lable {
	align-items: center;
	background-color: #f5f5f5;
	border-radius: 4px 4px 0 0;
	color: #646464;
	display: flex;
	font-weight: 800;
	height: 50px;
	justify-content: center;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.form__label__button {
	align-items: center;
	background-color: #ff9b51;
	border-radius: 0 0 4px 4px;
	bottom: 0;
	color: #fff;
	display: flex;
	height: 50px;
	justify-content: center;
	left: 0;
	margin-top: 30px;
	position: absolute;
	transition: background-color .1s linear;
	width: 100%;
}
.form__label__button:hover {
	background-color: #ff862a;
}
/* social  */
.social {
	align-items: center;
	background-color: #fff;
	box-shadow: 0px 1px 4px 0px #00000057;
	display: flex;
	font-family: 'Raleway';
	justify-content: center;
	padding: 20px 200px;
}
.social__discription {
	color: #a4a4a4;
	font-size: 14px;
	width: 400px;
}
.social__discription font {
	color: #333;
	display: block;
	font-weight: 800;
}
.social__links {
	display: flex;
}
.social__links a {
	margin: 0 25px;
}
.social__links img {
	filter: grayscale(1);
	height: 35px;
}
/* main */
.features > div:nth-child(even) {
	background-color: #fff;
}
/* features */
.features__about {
	display: flex;
	justify-content: space-between;
	padding: 100px 200px;
}
.features__tablist {
	display: flex;
}
.features__tl-item {
	align-items: center;
	background-color: #333;
	color: #fff;
	display: flex;
	font-weight: 800;
	height: 100px;
	justify-content: center;
	margin: 2px 0;
	text-decoration: none;
	width: 100px;
}
.features__tl-item:hover {
	background-color: #ff9b51;
}
.features__tl-item:nth-child(1) {
	background-color: #ff8b38;
	border-radius: 3px 3px 0 0;
}
.features__tl-item:nth-last-child(1) {
	border-radius: 0 0 3px 3px;
}
.features__tablist__text {
	margin: 10px 0 0 50px;
	width: 480px;
}
.sublist__img {
	box-shadow: 0px 4px 15px 2px #5252524d;
}
.features__button {
	background-color: #ff8b38;
	border-radius: 3px;
	display: inline-flex;
	font-weight: 600;
	margin-top: 50px;
	padding: 15px 40px;
}
.features__button:hover {
	background-color: #333;
}
/* sublist */
.sublist {
	background-color: red;
	display: flex;
	justify-content: space-between;
	padding: 100px;
}
.sublist__main-title {
	margin-left: 50px;
}
.sublist__download {
	display: flex;
	justify-content: space-between;
}
.sublist__title__description, .sublist__download {
	margin-bottom: 25px;
}
.sublist__download__head {
	color: #000;
	font-size: 16px;
	font-weight: 800;
}
.sublist img {
	height: 300px;
	box-shadow: 0px 4px 15px 2px #5252524d;
}
.dl-sublist {
	background-color: #ff862a;
	margin: 0;
}
.standart-section {
	display: flex;
	padding: 100px;
}
.section {
	margin-right: 50px;
}
/* why */
.why {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 100px 25px;
}
.discription {
	display: grid;
	justify-items: center;
	padding: 50px;
	text-align: center;
}
.why__main-title {
	color: #000;
	font-size: 36px;
	font-weight: 400;
}
.why__title {
	color: #000;
	font-weight: 600;
}
.why__icon-section {
	display: flex;
	justify-content: center;
}
.why__item {
	display: flex;
	flex-direction: column;
	margin: 0 50px;
	text-align: center;
	width: 20%;
}
.why__item img {
	border: 2px solid #ff8b38;
	border-radius: 100%;
	margin: 0 auto 15px auto;
	padding: 10px;
	width: 50px;
}
/* pricing */
.pricing {
	display: flex;
	flex-direction: column;
	padding-top: 100px;
}
.pricing__title {
	color: #000;
	font-size: 36px;
}
.pricing__description {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.pricing__blocks {
	display: flex;
	justify-content: center;
	padding: 50px;
}
.pricing__blocks > div {
	margin: 20px;
}
.pb__description {
	background-color: #333;
	border-bottom: 3px solid #ff8b38;
	color: #fff;
	padding-bottom: 15px;
	text-align: center;
}
.pb__head {
	border-bottom: 1px solid #fff;
	font-weight: 600;
	padding: 10px;
	size: 20px;
}
.p_description {
	color: #86878b;
	font-size: 14px;
}
.pd__pric {
	font-size: 94px;
	font-weight: 800;
}
.pd__pric::before {
	content: "$";
	font-size: 35px;
	font-weight: 800;
}
.pb_options {
	background-color: #fff;
	color: #86878b;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
}
.pb_options li {
	border-bottom: 1px solid #f5f5f5;
	list-style: none;
	padding: 10px;
}
